
/**
Search bar for staff directory
**/


/**
Individual contact listing within staff directory
**/

.publish {
	overflow: auto;
}

.profiles-list {

	float: left;
	width: 70%;

	.person {
		padding : 1rem;
		display : flex;
		border : solid 1px #ddd;
		margin: 0 0 25px 0;

		&.weighted {
			background: #f7f7f7;
		}

		div.photo {
			width: 200px;
			height: 200px;
			overflow: hidden;

			a {
				width: 100%;
				text-indent: -9999px;
				display: block;
				height: inherit;
				background-position: center center;
				background-repeat: no-repeat;
				background-size: cover;
			}
		}

		.details {
			flex : 0 0 75%;
			padding : 1rem;

			small {
				color: #666;
				clear: both;
				display: block;
			}

			span {
				margin: 10px 0;
			}

			.full_name {
				font-weight : bold;
				font-size : 1.5rem;
			}

			.job_title {
				font-size: 1rem;
				clear: both;
				display: block;
			}

			.contact {
				div {
					margin: 0 0 10px 0;
				}

				.label {
					margin-right: 10px;
					text-transform: capitalize;
				}

				.button {
					width: 200px;
					color: #000;
					padding: 5px;
				}
			}

			.content {
				.contact-info {
					.specialization {
						h4 {
							display: none;
						}
					}
					.degree,
					.appt-level {
						display: none;
					}
				}
			}
		}
	}

}

.ucf-people-directory {

	.people_groups {
		float: right;
		width: 25%;

		.list {
			margin: 25px 0;

			li {
				border-bottom: solid 1px #f0f0f0;
				padding: 10px 0;
				list-style: none;
	    		margin-left: -40px;
	    		width: 90%;
				page-break-inside: avoid;

	    		ul {

	    			li {
	    				&.child,
						&.parent {
							padding-left: 20px;
							page-break-inside: avoid;
						}

						&:last-child {
							border-bottom: none;
							padding-bottom: 0;
						}
	    			}

	    		}

				&.active {
					font-weight: bold;
				}

				a {
					.fa {
						transition: 0.25s
					}

					i.fa-angle-down::before{ /* makes the "expand arrow" offset to the left of the parent filter */
						width: 0;
						display: inline-block;
						position: relative;
						left: -1em;
					}

					&[data-toggle="collapse"] {
						padding-left: 15px;
					}

					&[aria-expanded="true"] {
						.fa-angle-down {
							transform: scaleY(-1);
							transform-origin: center center;
						}
					}
				}
			}
		}
	}

	&.no-card-view {
		.people_groups {
			float: none;
			margin-top: 25px;
			width: 100%;

			.menu {
				column-count: auto; // reduce number of columns based on width, so that it's mobile friendly
				column-width: 325px; // 325px gives us 3 columns on most browsers, 2 on skinnier screens, and 1 on most mobile screens
			}
		}
	}
}

.pagination {
	clear: both;
	display: block;

	a, span {
		padding: 10px;
		display: inline-block;
		background: #fcfcfc;
		margin: 5px;
	}
}

@media (max-width: 999px) {

	.profiles-list {
		.person {
			flex-wrap: wrap;

			div.photo {
				width: 100%;

				a {
					background-position: center -80px;
				}
			}
		}
	}


}